VITE_SUPABASE_URL=https://qpmrkplxpgofccmdwaeu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFwbXJrcGx4cGdvZmNjbWR3YWV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0NDA1MjMsImV4cCI6MjA5NTAxNjUyM30.gs46UVAxlmCWEaSXssNlsv_7vwYIMPXy3jABdGUptl8
VITE_DESKTOP_UPDATE_MANIFEST_URL=https://schofy.vercel.app/desktop-update.json
